<div class="page-nav" ng-if="$state.params.day!='front-page'">
    <nav class="pn-top" >
        <ul>
            <li style="display: none" class="mob_weater"><a href="#">{{$state.params.day}}</a></li>
            <li><a ui-sref="outlook" ng-class="{'active':$state.current.name=='outlook'}">Outlook</a></li>
            <li><a ui-sref="today" ng-class="{'active':$state.current.name=='today'}">Today</a></li>
            <li><a ui-sref="tomorrow" ng-class="{'active':$state.current.name=='tomorrow'}">Tomorrow</a></li>
            <li><a ui-sref="past-weather" ng-class="{'active':$state.current.name=='past-weather'}">Past weather</a></li>
            <li><a href="temperature-map.html">Temperature map</a></li>
        </ul>

    </nav>
    <nav class="pn-bot">
        <ul>
            <li><a ui-sref="three-days" ng-class="{'active':$state.current.name=='three-days'}">3 day</a></li>
            <li><a ui-sref="five-days" ng-class="{'active':$state.current.name=='five-days'}">5 day</a></li>
            <li><a ui-sref="seven-days" ng-class="{'active':$state.current.name=='seven-days'}">7 day</a></li>
            <li><a ui-sref="ten-days" ng-class="{'active':$state.current.name=='ten-days'}">10 day</a></li>
            <li><a ui-sref="fourteen-days" ng-class="{'active':$state.current.name=='fourteen-days'}">14 day</a></li>
            <li ><a ui-sref="hour-by-hour" ng-class="{'active':$state.current.name=='hour-by-hour'}">Hour by hour</a></li>
        </ul>
    </nav>
</div><!-- end page-nav -->

<div ui-view></div>
