
<div class="main-bot-banner">
    AD 729x90
</div>

<section id="weather-extensions">
    <div class="container">
        <h2>Oplao weather extension</h2>
    </div>
    <div class="ext-row">
        <a href="#" class="ext-block">
            <img src="images/svg-icons/firefox.svg" alt="img">
            <h3>Firefox</h3>
        </a>
        <a href="#" class="ext-block">
            <img src="images/svg-icons/crome.svg" alt="img">
            <h3>Chrome</h3>
        </a>
        <a href="#" class="ext-block">
            <img src="images/svg-icons/opera.svg" alt="img">
            <h3>Opera</h3>
        </a>
        <a href="#" class="ext-block">
            <img src="images/svg-icons/yandex.svg" alt="img">
            <h3>yandex</h3>
        </a>
    </div>
</section><!-- end "weather-extensions -->

<footer>
    <div class="footer-top">
        <div class="container">
            <div class="main-menu-inner">
                <nav class="main-menu-block">
                    <h3>Weather</h3>
                    <ul>
                        <li><a href="#">3 days weather forecast</a></li>
                        <li><a href="#">5 days weather forecast</a></li>
                        <li><a href="#">7 days weather forecast</a></li>
                        <li><a href="#">14 days weather forecast</a></li>
                        <li><a href="#">Hourly weather</a></li>
                        <li><a href="#">Weather map</a></li>
                        <li><a href="#">Weather history</a></li>
                    </ul>
                </nav>

                <nav class="main-menu-block">
                    <h3>Applications</h3>
                    <ul>
                        <li><a href="#">Android apps</a></li>
                        <li><a href="#">Google play</a></li>
                        <li><a href="#">Google Chrome weather extension</a></li>
                        <li><a href="#">Firefox weather extension</a></li>
                        <li><a href="#">Opera weather extension</a></li>
                    </ul>
                </nav>

                <nav class="main-menu-block">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </nav>
            </div>

            <nav class="footer-soc">
                <a href="#"><img src="images/svg-icons/feedback.svg" alt=""><em>Feedback</em></a>
                <a target="_blank" href="https://vk.com/oplao"><i class="icon vk"></i></a>
                <a target="_blank" href="https://www.facebook.com/Oplao"><i class="icon facebook"></i></a>
                <a target="_blank" href="https://twitter.com/Oplaoweather"><i class="icon twitter"></i></a>
                <a target="_blank" href="https://plus.google.com/u/0/b/111062725555627000569/+Oplaoweather/posts"><i class="icon google"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UC1rtXk9LSRD-pJb253pN0lg"><i class="icon youtube"></i></a>
            </nav>
        </div>
    </div><!-- end footer-top -->
    <div class="footer-bot">
        2016. Oplao, All right reserved
    </div>
</footer>


<!-- Popup -->
<div id="alert-popup" class="alert-popup mfp-with-anim mfp-hide">
    <div class="alert-popup-top">
        <div class="apt-left">Alerts</div>
    </div>
    <div class="alert-popup-bot">
        <h2>Severity</h2>
        <div class="severity-block"></div>
        <h2>Text Weather</h2>
        <p>The <em>maximum temperature</em> for Brighton over the next 7 day will be 30°C(or 86°F) on Wednesday 24th
            August at around 5 pm. In the same week the <em>minimum temperature</em> will be 13°C (or 56°F) on
            Tuesday 23rd August at around 5 am. Our Brighton weather forecaster is reporting Thursday 25th August to
            be the wettest day in the coming week with around 2.70mm (or 0.1 inches) of rainfall. Make sure to carry
            an umbrella if you are out and about in Brighton.</p>
        <a href="#settings-popup" data-effect="mfp-zoom-in" class="alert-settings s-popup">Settings
            <span></span></a>
    </div><!-- end alert-popup-bot -->
</div>
<!-- Popup -->
<div id="settings-popup" class="settings-popup mfp-with-anim mfp-hide">
    <div class="settings-popup-top">
        <div class="spt-left">Settings</div>
    </div>
    <div class="settings-popup-md">
        <div class="popup-lang-wrap">
            <h2>Language</h2>
            <ul class="popup-lang">
                <li><a href="#">En</a></li>
                <li><a href="#">En</a></li>
                <li><a href="#">De</a></li>
                <li><a href="#">Fr</a></li>
                <li><a href="#">It</a></li>
                <li><a href="#">Uk</a></li>
                <li><a href="#">Be</a></li>
            </ul>
        </div>

        <div class="set-popup-row">
            <div class="spr-block popup-units">
                <h2>Units Preference</h2>
                <a href="#" class="spr-item">°C</a>
                <a href="#" class="spr-item">°F</a>
            </div>
            <div class="spr-block popup-time">
                <h2>Time Format</h2>
                <a href="#" class="spr-item">12 hours</a>
                <a href="#" class="spr-item">24 hours</a>
            </div>
        </div>
    </div>

    <div class="set-pop-bot">
        <div class="alerts_block">
            <div class="alerts_text">Alerts</div>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>
</div>