<section id="detailed-tabs-wrap" ng-init="getDataGraph()">
    <div class="container padding-bottom">
        <h2 ng-if="day=='Outlook'">10 day weather forecast</h2>
        <h2 ng-if="day=='Today'">Hourly weather for today</h2>
        <h2 ng-if="day=='Tomorrow'">Weather for tomorrow</h2>
        <h2 ng-if="page=='three-days'||page=='five-days'||day=='Past weather'">Detailed forecast</h2>
        <h2 ng-if="page=='seven-days'">7 day weather forecast</h2>
        <h2 ng-if="page=='fourteen-days'">Weather chart</h2>
        <h2 ng-if="page=='ten-days'">Detailed weather</h2>
        <h2 ng-if="day=='Hour by hour'">Weather chart</h2>
    </div>

    <div class="tb-wrapper">
        <div class="wather-table-wrap">
            <div class="active tab-forecast-content blue-bg">
                <div class="container ">
                    <div id="{{graph}}"></div>
                    <br/>
                    <div id="{{graph}}Icon">
                        <div class="wrp-icon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tb-more-info more-col-4">
            <div class="text">
                <span>Swipe</span>
                <span>FOR</span>
                <span>MORE</span>
                <span>INFO</span>
            </div>
        </div>
    </div>

</section><!-- end detailed-forecast -->