<div ng-controller="front-pageCtrl">
<section class="three-days">
		<div ng-repeat="elem in header_tabs track by $index" class="three-days-block three-days-{{$index +1}}">
			<div class="tdb-inner">
				<div class="tdb-top">
					{{elem[1].dayOfMonth}} {{elem[1].monthOfYear}}, {{elem[1].dayOfWeek}}
				</div>
				<div class="tdb-bot">
					<div class="tdb-min">
						min <em>{{local.typeTemp=='C'?elem[1].mintempC:elem[1].mintempF}}° <span>{{local.typeTemp}}</span></em>
					</div>
					<div class="tdb-max">
						max <em>{{local.typeTemp=='C'?elem[1].maxtempC:elem[1].maxtempF}}° <span>{{local.typeTemp}}</span></em>
					</div>
					<!-- <img src="images/svg-icons/cloud-sm.svg" alt=""> -->
					<img class="green_tabs_header_icon" ng-src="svg/wicons_svg/{{elem[1].weatherCode}}_night.svg" style="   text-align: center;    margin: auto;" ng-if="elem[1].isDay== false ">
					<img class="green_tabs_header_icon" ng-src="svg/wicons_svg/{{elem[1].weatherCode}}_day.svg" style="    text-align: center;    margin: auto;" ng-if="elem[1].isDay== true ">
				</div>
			</div>
		</div>

	</section><!-- end three-days -->

	<section id="popular-weather">
		<div class="container">
			<div class="weather-block-width-wrap">
				<div ng-repeat="elem in recent_tabs track by $index" class="weather-block-width w{{$index}}" ng-click="selectCity(elem.geonameId)">
					<div class="wb-wrap">
						<div class="wb-left">
							<img ng-src="svg/wicons_svg/{{elem.weatherCode}}_{{(elem.hours<=6 || elem.hours>=18)?'night':'day'}}.svg" style="width: 30px;">
							<div class="wbl-temp">{{local.typeTemp=='C'?elem.tempC:elem.tempF}}° <span>{{local.typeTemp}}</span></div>
						</div>
						<div class="wb-right">
							<a>
								<h3>{{elem.city}}</h3>
								<h4>{{elem.countryName}}</h4>
							</a>
						</div>
					</div>
				</div>

			</div><!-- weather-block-width-wrap -->
		</div><!-- end container -->
	</section><!-- end popular-weather -->

	<div class="container section-margin-top">
		<div class="wrapper">
			<div class="page-content">
				<section id="temperature-map">
					<div class="temperature-heading">
						<h2>Temperature map</h2>
						<a href="#" class="t-view-map">view map</a>
					</div>
                    <figure id="map">
                      <div id="gmap"></div>
                      <map-marker
                        ng-repeat="location in locations"
                      </map-marker>
                    </figure>
				</section><!-- end temperature-map -->
			</div><!-- end page-content -->
			<aside class="sidebar">
				<!-- <div class="ad300-250 top62px ">300x250</div> -->
				<img src="https://placehold.it/300x250" alt="alt" class="top62px">
			</aside>
		</div><!-- end wrapper -->
	</div><!-- end container -->


	<div class="container section-margin-top">
		<div class="wrapper">
			<div class="page-content">
				<section id="country-weather-section">
					<h2>{{country_weather[0].countryName}} weather</h2>
					<div class="country-weather">
						<div ng-repeat="elem in country_weather" class="weather-block">
							<div class="wb-left">
								<img ng-src="svg/wicons_svg/{{elem.weatherCode}}_night.svg" style="    width: 45px;    text-align: center;    margin: auto;" ng-if="elem.isDay== false ">
								<img ng-src="svg/wicons_svg/{{elem.weatherCode}}_day.svg" style="    width: 45px;    text-align: center;    margin: auto;" ng-if="elem.isDay== true ">
								<div class="wbl-temp">{{local.typeTemp=='C'?elem.temp_C:elem.temp_F}}° <span>{{local.typeTemp}}</span></div>
							</div>
							<div class="wb-right">
								<a  href="/en/weather/outlook/{{elem.name+'_'+elem.countryCode}}"><h3>{{elem.name}}</h3></a>
							</div>
						</div>

					</div>
				</section><!-- end country-weather-section -->

				<!--<section id="text-weather" class="section-margin-top text-weather-main">-->
					<!--<h2>Text weather</h2>-->
					<!--<h3>7 day weather outlook of Minsk</h3>-->


					<!--<div class="tabs-tr">-->

					  <!--<nav role='navigation' class="transformer-tabs w-tabs">-->
					    <!--<ul>-->
					      <!--<li><a href="#tab-1" class="active">Weekly Outlook</a></li>-->
					      <!--<li><a href="#tab-2">Mon</a></li>-->
					      <!--<li><a href="#tab-3">Tue</a></li>-->
					      <!--<li><a href="#tab-4">Wed</a></li>-->
					      <!--<li><a href="#tab-5">Thu</a></li>-->
					      <!--<li><a href="#tab-6">Fri</a></li>-->
					      <!--<li><a href="#tab-7">Sat</a></li>-->
					      <!--<li><a href="#tab-8">Sun</a></li>-->
					    <!--</ul>-->
					  <!--</nav>-->

					  <!--<div id="tab-1" class="active text-weather-tab w-tab-cont">-->
					    	<!--<p>The <b>maximum temperature</b> for Brighton over the next 7 day will be 30°C(or 86°F) on Wednesday 24th August at around 5 pm. In the same week the <b>minimum temperature</b> will be 13°C (or 56°F) on Tuesday 23rd August at around 5 am. Our Brighton weather forecaster is reporting Thursday 25th August to be the wettest day in the coming week with around 2.70mm (or 0.1 inches) of rainfall. Make sure to carry an umbrella if you are out and about in Brighton.</p>-->
					  <!--</div>-->

					  <!--<div id="tab-2" class="w-tab-cont">-->
					   <!--2-->
					  <!--</div>-->

					  <!--<div id="tab-3" class="w-tab-cont">-->
					     <!--3-->
					  <!--</div>-->

					  <!--<div id="tab-4" class="w-tab-cont">-->
					   <!--4-->
					  <!--</div>-->
					  <!--<div id="tab-5" class="w-tab-cont">-->
					   <!--5-->
					  <!--</div>-->
					  <!--<div id="tab-6" class="w-tab-cont">-->
					   <!--6-->
					  <!--</div>-->
					  <!--<div id="tab-7" class="w-tab-cont">-->
					   <!--7-->
					  <!--</div>-->
					  <!--<div id="tab-8" class="w-tab-cont">-->
					   <!--8-->
					  <!--</div>-->

					<!--</div>-->
				<!--</section>&lt;!&ndash; end text-weather &ndash;&gt;-->
			</div><!-- end page-content -->
			<aside class="sidebar">
				<!-- <div class="ad300-600">300x600</div> -->
				<img src="https://placehold.it/300x600" alt="alt" class="mob-hide">
			</aside>
		</div><!-- end wrapper -->
	</div><!-- end container -->


	<div class="container section-margin-top">
		<div class="wrapper">
			<div class="page-content">
				<section id="holiday-weather-section">
					<h3>Holiday weather</h3>
					<div class="holiday-weather">
						<div ng-repeat="elem in holidays_weather" class="weather-block">
							<div class="wb-left">
								<img ng-src="svg/wicons_svg/{{elem.weatherCode}}_night.svg" style="    width: 45px;    text-align: center;    margin: auto;" ng-if="elem.isDay== false ">
								<img ng-src="svg/wicons_svg/{{elem.weatherCode}}_day.svg" style="    width: 45px;    text-align: center;    margin: auto;" ng-if="elem.isDay== true ">
								<div class="wbl-temp">{{local.typeTemp=='C'?elem.temp_C:elem.temp_F}}° <span>{{local.typeTemp}}</span></div>
							</div>
							<div class="wb-right">
								<a href="/en/weather/outlook/{{elem.name+'_'+elem.countryCode}}">
									<h3>{{elem.name}}</h3>
									<h4>{{elem.countryName}}</h4>
								</a>
							</div>
						</div>

					</div>
				</section><!-- end holiday-weather-section -->
			</div><!-- end page-content -->
			<aside class="sidebar">
				<a href="#" class="top30px g-play">
					<img src="images/bg/play-bg.png" alt="img">
					<span>Oplao on Google Play</span>
				</a>
			</aside>
		</div>
	</div><!-- end container -->

	<section id="top-holiday-dest">
		<div class="container">
			<h4>Top holiday destinations</h4>
			<ul>
				<li ng-repeat="elem in top_holidays_destinations track by $index">
					<a class = "destination{{$index}}" ng-click="select_holiday_destination($index)">{{elem}}<span>/</span></a></li>

			</ul>
		</div>
	</section><!-- end top-holiday-dest -->
</div>
