	<div class="container section-margin-top">
		<div class="wrapper">
			<div class="page-content">
				
				<section id="temperature-map-tab">
					<h2>Temperature map</h2>
					<div class="tabs-tr">
					  
					  <nav role='navigation' class="transformer-tabs map-tabs">
					    <ul>
					      <li><a href="#tab-1" class="active">Now</a></li>
					      <li><a href="#tab-2">Today</a></li>
					      <li><a href="#tab-3">Tomorrow</a></li>
					      <li><a href="#tab-4">20 aug, sat</a></li>
					    </ul>
					  </nav>
					  
					  <div id="tab-1" class="active tab-map-content">

					    	<div id="map-tab-one"></div>
					  </div>
					  
					  <div id="tab-2" class="tab-map-content">
					    2<div id="map-tab-two"></div>
					  </div>
					  
					  <div id="tab-3" class="tab-map-content">
					     3<div id="map-tab-three"></div>
					  </div>
					  
					  <div id="tab-4" class="tab-map-content">
					    4<div id="map-tab-four"></div>
					  </div>
					  
					</div><!-- end tabs-tr -->

				</section><!-- end temperature-map -->
 
			</div><!-- end page-content -->
			<aside class="sidebar mob-hide">
				<img src="https://placehold.it/300x600" alt="alt" class="mob-hide top55px">
			</aside>
		</div><!-- end wrapper -->
	</div><!-- end container -->

	<div class="container">
		<div class="wrapper">
			<div class="page-content">
				<section id="weekly-report">
					<h2>Weekly weather report</h2>

					<div class="tb-wrapper">
						<div class="wather-table-wrap">
							<div class="weather-tb 5days-tb">
								<div class="tb-head">
									<div class="tb-date">
										<div class="tb-head-icon">
											<img src="img/date.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Date</div>
									</div>
									<div class="tb-time">
										<div class="tb-head-icon">
											<img src="img/time.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Time</div>
									</div>
									<div class="tb-weather">
										<div class="tb-head-icon">
											<img src="img/weather.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Weather</div>
									</div>
									<div class="tb-temperature">
										<div class="tb-head-icon">
											<img src="img/temperature.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Temperature</div>
									</div>
									<div class="tb-feels-like">
										<div class="tb-head-icon">
											<img src="img/feels_like.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Feels like</div>
									</div>
									<div class="tb-precip-chance">
										<div class="tb-head-icon">
											<img src="img/precip_chance.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Precip chance</div>
									</div>
									<div class="tb-precip">
										<div class="tb-head-icon">
											<img src="img/precip.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Precip</div>
									</div>
									<div class="tb-wind">
										<div class="tb-head-icon">
											<img src="img/wind.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Wind</div>
									</div>
									<div class="tb-gust">
										<div class="tb-head-icon">
											<img src="img/gust.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Gust</div>
									</div>
									<div class="tb-pressure">
										<div class="tb-head-icon">
											<img src="img/pressure.svg" alt="" height="25">
										</div>
										<div class="tb-head-title">Pressure</div>
									</div>
								</div>
								<div class="tb-contant">
									<div class="tb-item">
										<div class="tb-row tb-day">
											<div class="tb-date">
												<div class="tb-today">Today</div>
												<div class="tb-date-day">20 Aug,</div>
												<div class="tb-day">Sat</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Day</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">22°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">24°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
										<div class="tb-row tb-night">
											<div class="tb-date">
												<div class="tb-img">
													<i class="icon clear_day-grey"></i>
												</div>
												<div class="tb-temp">+14°/+19°</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Night</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
									</div>
									<div class="tb-item">
										<div class="tb-row tb-day">
											<div class="tb-date">
												<div class="tb-date-day">21 Aug,</div>
												<div class="tb-day">Sat</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Day</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">22°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">24°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
										<div class="tb-row tb-night">
											<div class="tb-date">
												<div class="tb-img">
													<i class="icon clear_day-grey"></i>
												</div>
												<div class="tb-temp">+14°/+19°</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Night</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
									</div>
									<div class="tb-item">
										<div class="tb-row tb-day">
											<div class="tb-date">
												<div class="tb-date-day">21 Aug,</div>
												<div class="tb-day">Sat</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Day</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">22°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">24°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
										<div class="tb-row tb-night">
											<div class="tb-date">
												<div class="tb-img">
													<i class="icon clear_day-grey"></i>
												</div>
												<div class="tb-temp">+14°/+19°</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Night</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
									</div>
									<div class="tb-item">
										<div class="tb-row tb-day">
											<div class="tb-date">
												<div class="tb-date-day">21 Aug,</div>
												<div class="tb-day">Sat</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Day</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">22°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">24°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
										<div class="tb-row tb-night">
											<div class="tb-date">
												<div class="tb-img">
													<i class="icon clear_day-grey"></i>
												</div>
												<div class="tb-temp">+14°/+19°</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Night</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
									</div>
									<div class="tb-item">
										<div class="tb-row tb-day">
											<div class="tb-date">
												<div class="tb-date-day">21 Aug,</div>
												<div class="tb-day">Sat</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Day</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">22°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">24°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
										<div class="tb-row tb-night">
											<div class="tb-date">
												<div class="tb-img">
													<i class="icon clear_day-grey"></i>
												</div>
												<div class="tb-temp">+14°/+19°</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Night</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
									</div>
									<div class="tb-item">
										<div class="tb-row tb-day">
											<div class="tb-date">
												<div class="tb-date-day">21 Aug,</div>
												<div class="tb-day">Sat</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Day</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">22°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">24°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
										<div class="tb-row tb-night">
											<div class="tb-date">
												<div class="tb-img">
													<i class="icon clear_day-grey"></i>
												</div>
												<div class="tb-temp">+14°/+19°</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Night</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
									</div>
									<div class="tb-item">
										<div class="tb-row tb-day">
											<div class="tb-date">
												<div class="tb-date-day">21 Aug,</div>
												<div class="tb-day">Sat</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Day</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">22°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">24°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
										<div class="tb-row tb-night">
											<div class="tb-date">
												<div class="tb-img">
													<i class="icon clear_day-grey"></i>
												</div>
												<div class="tb-temp">+14°/+19°</div>
											</div>
											<div class="tb-time">
												<div class="tb-text">Night</div>
											</div>
											<div class="tb-weather">
												<i class="icon clear_day-grey"></i>
											</div>
											<div class="tb-temperature">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-feels-like">
												<div class="tb-text">15°C</div>
											</div>
											<div class="tb-precip-chance">
												<div class="tb-text">94%</div>
											</div>
											<div class="tb-precip">
												<div class="tb-count">0.0</div>
												<div class="tb-meter">mm</div>
											</div>
											<div class="tb-wind">
												<i class="sprite-wind-tb"></i>
												<div class="tb-count">0 m/s</div>
												<div class="tb-meter">NNW</div>
											</div>
											<div class="tb-gust">
												<div class="tb-count">3</div>
												<div class="tb-meter">mph</div>
											</div>
											<div class="tb-pressure">
												<div class="tb-count">1017</div>
												<div class="tb-meter">hPa</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tb-more-info">
							<div class="text">
								<span>Swipe</span>
								<span>FOR</span>
								<span>MORE</span>
								<span>INFO</span>
							</div>
						</div>
					</div>
					<div class="links-after">
						<a href="#" class="active">Outlook</a>
						<a href="#">Hourly weather</a>
						<a href="#">Weather map</a>
					</div>
					<!-- .tab_container -->
				</section><!-- end weeekly-report -->
			</div><!-- end page-content -->
			<aside class="sidebar maps-sidebar-bot">
				<img src="https://placehold.it/300x250" alt="alt" class="mob-hide top40px">
				<a href="#" class="top30px g-play">
					<img src="images/bg/play-bg.png" alt="img">
					<span>Oplao on Google Play</span>
				</a>
			</aside>
		</div><!-- end wrapper -->
	</div><!-- end container -->
	