<div ng-controller="outlookCtrl">
    <div class="container section-margin-top">
        <div class="wrapper">
            <div class="page-content">
                <section id="weekly-report">
                    <h2>Long term forecast</h2>

                    <div class="tb-wrapper">
                        <div class="wather-table-wrap">
                            <div class="weather-tb 5days-tb">
                                <div class="tb-head">
                                    <div class="tb-date">
                                        <div class="tb-head-icon">
                                            <img src="img/date.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Date</div>
                                    </div>
                                    <div class="tb-time">
                                        <div class="tb-head-icon">
                                            <img src="img/time.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Time</div>
                                    </div>
                                    <div class="tb-weather">
                                        <div class="tb-head-icon">
                                            <img src="img/weath.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Weather</div>
                                    </div>
                                    <div class="tb-temperature">
                                        <div class="tb-head-icon">
                                            <img src="img/temperature.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Temperature</div>
                                    </div>
                                    <div class="tb-feels-like">
                                        <div class="tb-head-icon">
                                            <img src="img/feels_like.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Feels like</div>
                                    </div>
                                    <div class="tb-precip-chance">
                                        <div class="tb-head-icon">
                                            <img src="img/precip_chance.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Precip chance</div>
                                    </div>
                                    <div class="tb-precip">
                                        <div class="tb-head-icon">
                                            <img src="img/precip.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Precip</div>
                                    </div>
                                    <div class="tb-wind">
                                        <div class="tb-head-icon">
                                            <img src="img/wind.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Wind</div>
                                    </div>
                                    <div class="tb-gust">
                                        <div class="tb-head-icon">
                                            <img src="img/gust.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Gust</div>
                                    </div>
                                    <div class="tb-pressure">
                                        <div class="tb-head-icon">
                                            <img src="img/pressure.svg" alt="" height="25">
                                        </div>
                                        <div class="tb-head-title">Pressure</div>
                                    </div>
                                </div>
                                <div class="tb-contant inner-html">
                                    <div class="tb-item" ng-repeat="temperatureDay in temperatureWeekly.data"  ng-init="sectionIndex = $index">

                                        <div class="tb-row" ng-repeat="day in temperatureDay" ng-if="day.time == 'Night' || day.time == 'Day'">
                                            <div class="tb-date" ng-if="day.time == 'Night'">
                                                <div class="tb-today" ng-if="sectionIndex==0">Today</div>
                                                <div class="tb-date-day">{{temperatureDay.wholeDay.dayOfMonth}} {{temperatureDay.wholeDay.monthOfYear | limitTo:3}},</div>
                                                <div class="tb-day">{{temperatureDay.wholeDay.dayOfWeek | limitTo:3}}</div>
                                            </div>

                                            <div class="tb-date" ng-if="day.time == 'Day'">
                                                <div class="tb-img">
                                                    <img ng-src="svg/wicons_svg/{{temperatureDay.wholeDay.weatherCode}}_day.svg" style="width: 42px;margin-bottom:6px">
                                                </div>
                                                <div class="tb-temp"><span class="min-temperature">{{local.typeTemp=='C'?temperatureDay.wholeDay.minTemperatureC:temperatureDay.wholeDay.minTemperatureF}}°{{local.typeTemp}}</span>/<span class="max-temperature">{{local.typeTemp=='C'?temperatureDay.wholeDay.maxTemperatureC:temperatureDay.wholeDay.maxTemperatureF}}°{{local.typeTemp}}</span></div>
                                            </div>

                                            <div class="tb-time">
                                                <div class="tb-text">{{day.time}}</div>
                                            </div>
                                            <div class="tb-weather">
                                                <img ng-src="svg/wicons_svg/{{day.weatherCode}}_night.svg" style="    width: 45px;    text-align: center;    margin: auto;"  ng-if="day.time == 'Night'">
                                                <img ng-src="svg/wicons_svg/{{day.weatherCode}}_day.svg" style="    width: 45px;    text-align: center;    margin: auto;"  ng-if="day.time == 'Day'">
                                            </div>
                                            <div class="tb-temperature">
                                                <div class="tb-text">{{local.typeTemp=='C'?day.avgTempC:day.avgTempF}}°{{local.typeTemp}}</div>
                                            </div>
                                            <div class="tb-feels-like">
                                                <div class="tb-text">{{local.typeTemp=='C'?day.feelsLikeC:day.feelsLikeF}}°{{local.typeTemp}}</div>
                                            </div>
                                            <div class="tb-precip-chance">
                                                <div class="tb-text">{{day.precipChance}}%</div>
                                            </div>
                                            <div class="tb-precip">
                                                <div class="tb-count">{{local.typeTemp=='C'?day.precipMm:day.precipIn}}</div>
                                                <div class="tb-meter">{{local.typeTemp=='C'?'mm':'in'}}</div>
                                            </div>
                                            <div class="tb-wind">
                                                <i class="sprite-wind-tb" style="    -ms-transform: rotate({{day.windDegree + 'deg'}});    -webkit-transform: rotate({{day.windDegree + 'deg'}});    transform: rotate({{day.windDegree + 'deg'}});"></i>
                                                <div class="tb-count" style="color:{{day.windspeedColor}}; font-weight:{{day.boldSpeed}}">{{local.typeTemp=='C'?day.windMs:day.windMph}} {{local.typeTemp=='C'?'m/s':'mph'}}</div>
                                                <div class="tb-meter">{{day.winddir}}</div>
                                            </div>
                                            <div class="tb-gust">
                                                <div class="tb-count" style="color:{{day.windgustColor}}; font-weight:{{day.boldGust}}">{{local.typeTemp=='C'?day.gustMs:day.gustMph}}</div>
                                                <div class="tb-meter">{{local.typeTemp=='C'?'m/s':'mph'}}</div>
                                            </div>
                                            <div class="tb-pressure">
                                                <div class="tb-count">{{local.typeTemp=='C'?day.pressurehPa:day.pressureInch}}</div>
                                                <div class="tb-meter">{{local.typeTemp=='C'?'hPa':'in'}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tb-more-info">
                            <div class="text">
                                <span>Swipe</span>
                                <span>FOR</span>
                                <span>MORE</span>
                                <span>INFO</span>
                            </div>
                        </div>
                    </div>
                    <div class="links-after" ng-include="'templates/links.html'"></div>
                    <!-- .tab_container -->
                </section><!-- end weeekly-report -->
            </div><!-- end page-content -->
            <aside class="sidebar" style="padding-top: 35px">
                <!-- <div class="ad300-520 mob-hide"></div> -->
                <img src="https://placehold.it/300x600" alt="alt" class="mob-hide">
                <img src="https://placehold.it/300x250" alt="alt" class="top20px">
            </aside>
        </div><!-- end wrapper -->
    </div><!-- end container -->

    <div ng-include="'templates/graphic.html'"></div>

    <div class="container section-margin-top">
        <div class="wrapper">
            <div ng-include="'templates/wth_glance.html'" class="page-content"></div>

            <aside class="sidebar top35px">
                <!-- OLD -->
                <!-- <div class="ad300-600 mob-hide"></div> -->
                <!-- <div class="ad300-250 top20px"></div> -->

                <!-- NEW -->
                <img src="https://placehold.it/300x600" alt="alt" class="mob-hide">
                <!--<img src="https://placehold.it/300x250" alt="alt" class="top20px">-->
            </aside>
        </div><!-- end wrapper -->
    </div><!-- end container -->

    <div class="container section-margin-top">
        <div class="wrapper">
            <div class="page-content" ng-include="'templates/astronomy-sect.html'">

            </div>
            <aside href="#" class="sidebar">
                <div>
                    <a href="https://play.google.com/store/apps/developer?id=Oplao" class="g-play" ng-include="'templates/html/google-play.html'"></a>
                </div>
            </aside>
        </div>
    </div><!-- end container -->

    <section id="climate-in">
        <div class="container" style="margin-bottom: 4%">
            <h2 style="margin-bottom: 4%">Climate in {{temperature.city}}</h2>

            <div class="climate-dropdown-wrap">
                <div class="climate-dropdown-top" ng-click="activeTabMobile()">{{climate.month}}</div>
                <ul class="climate-dropdown-bot">
                    <li ng-repeat="month in get_year_summary.data track by $index"><a ng-click="getActiveClimate($index)">{{month.fullMonthName}}</a></li>
                </ul>
            </div>
           <div class="cit-block c-t-max">
                    <span></span>
                    <i></i>
                    <em>T° max</em>
                    <b>{{local.typeTemp=='C'?climate.tempMaxC:climate.tempMaxF}}°{{local.typeTemp}}</b>
                </div>
                <div class="cit-block c-t-min">
                    <span></span>
                    <i></i>
                    <em>T° min</em>
                    <b>{{local.typeTemp=='C'?climate.tempMinC:climate.tempMinF}}°{{local.typeTemp}}</b>
                </div>
                <div class="cit-block c-t-prec">
                    <span></span>
                    <i></i>
                    <em>Precipitation</em>
                    <b>{{local.typeTemp=='C'?climate.precipMm:climate.precipIn}} {{local.typeTemp=='C'?'mm':'in'}}</b>
                </div>
        </div>
        <div class="green-bg graff-wrap">
            <div class="container">
                <div id="weatherYear"></div>
                <br/>
            </div>
        </div>
    </section><!-- end climate-in -->

    <section id="coordinates">
        <div class="container">
            <h2>Coordinates</h2>
            <p><b>{{coordinates.city}}, {{coordinates.country}}.</b> {{coordinates.city}} <a href="#">on the map</a> {{coordinates.latitude}}°, {{coordinates.longitude}}°. Timezone: UTC {{coordinates.hours_between}}</p>
        </div>
    </section><!-- end coordinates -->

    <section class="last-year5 theme-wrapper theme-block">
        <div class="container last-year-five">
            <h4>Last 5 year weather data</h4>
        </div>
        <div class="blue-bg-full">
            <div class="container">
                <div class="last-info-wrap">
                    <div class="v-date">
                        <div class="img-wrap">
                            <img src="img/calendar.svg" alt="img" class="img">
                        </div>
                        <div class="v-today-wrap">
                            <div class="today">Today</div>
                            <div class="date">{{temperature.day}} {{temperature.month}}</div>
                            <div style="font-size: 12px">Data at {{getTime('2:00 PM')}}</div>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="past-weather.html" class="btn-theme">Check past weather for more info</a>
                    </div>
                </div>
                <div class="v-year-wrap">
                    <div class="v-year-list">
                        <div class="v-year-item" ng-repeat="year in five_years_average">
                            <div class="v-year">{{year.year}}</div>
                            <img class="v-img" ng-src="svg/wicons_svg_white/{{year.weatherCode}}_day.svg" alt="img" style="    width: 48px;    margin: auto; margin-bottom: 14px;">
                            <div class="temperature">
                                <span class="count">{{local.typeTemp=='C'?year.tempC:year.tempF}}</span>
                                <span class="mark">°{{local.typeTemp}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="uv-index">
        <div class="container">
            <h4>UV Index</h4>
            <div class="uv-top">
                <div class="uv-top-block">
                    <span class="greenLow"></span>
                    <em>1-2 Low</em>
                </div>
                <div class="uv-top-block">
                    <span class="yellowAverage"></span>
                    <em>3-5 Average</em>
                </div>
                <div class="uv-top-block">
                    <span class="orangeHigh"></span>
                    <em>6-7 High</em>
                </div>
                <div class="uv-top-block">
                    <span class="redHigh"></span>
                    <em>8-10 Very-high</em>
                </div>
                <div class="uv-top-block">
                    <span class="redExtreme"></span>
                    <em>11+ Extreme</em>
                </div>
            </div>

            <div class="uv-bot" >
                <div class="uv-bot-block" ng-repeat="ultra in ultraviolet track by $index">
                    <em>{{$index == 0 ? 'Today':ultra.date}}</em>
                    <span class="{{colorsUV[$index]}}"></span>
                </div>
            </div>
        </div>
    </section>
</div>
