<div class="container section-margin-top" ng-controller="outlookCtrl">
    <div class="wrapper">
        <div class="page-content">
            <section id="weekly-report">
                <h2>Weekly weather report</h2>

                <div class="tb-wrapper">
                    <div class="wather-table-wrap">
                        <div class="weather-tb 5days-tb">
                            <div class="tb-head">
                                <div class="tb-date">
                                    <div class="tb-head-icon">
                                        <img src="img/date.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Date</div>
                                </div>
                                <div class="tb-time">
                                    <div class="tb-head-icon">
                                        <img src="img/time.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Time</div>
                                </div>
                                <div class="tb-weather">
                                    <div class="tb-head-icon">
                                        <img src="img/weather.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Weather</div>
                                </div>
                                <div class="tb-temperature">
                                    <div class="tb-head-icon">
                                        <img src="img/temperature.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Temperature</div>
                                </div>
                                <div class="tb-feels-like">
                                    <div class="tb-head-icon">
                                        <img src="img/feels_like.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Feels like</div>
                                </div>
                                <div class="tb-precip-chance">
                                    <div class="tb-head-icon">
                                        <img src="img/precip_chance.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Precip chance</div>
                                </div>
                                <div class="tb-precip">
                                    <div class="tb-head-icon">
                                        <img src="img/precip.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Precip</div>
                                </div>
                                <div class="tb-wind">
                                    <div class="tb-head-icon">
                                        <img src="img/wind.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Wind</div>
                                </div>
                                <div class="tb-gust">
                                    <div class="tb-head-icon">
                                        <img src="img/gust.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Gust</div>
                                </div>
                                <div class="tb-pressure">
                                    <div class="tb-head-icon">
                                        <img src="img/pressure.svg" alt="" height="25">
                                    </div>
                                    <div class="tb-head-title">Pressure</div>
                                </div>
                            </div>
                            <div class="tb-contant">
                                <div class="tb-item" ng-repeat="temperatureDay in temperatureWeekly.data"  ng-init="sectionIndex = $index">

                                    <div class="tb-row" ng-repeat="day in temperatureDay" ng-if="day.time == 'Night' || day.time == 'Day'">
                                        <div class="tb-date" ng-if="day.time == 'Night'">
                                            <div class="tb-today" ng-if="sectionIndex==0">Today</div>
                                            <div class="tb-date-day">{{temperatureDay.wholeDay.dayOfMonth}} {{temperatureDay.wholeDay.monthOfYear | limitTo:3}},</div>
                                            <div class="tb-day">{{temperatureDay.wholeDay.dayOfWeek | limitTo:3}}</div>
                                        </div>

                                        <div class="tb-date" ng-if="day.time == 'Day'">
                                            <div class="tb-img">
                                                <img src="svg/wicons_svg/{{temperatureDay.wholeDay.weatherCode}}_day.svg" style="width: 42px;">
                                            </div>
                                            <div class="tb-temp">{{local.typeTemp=='C'?temperatureDay.wholeDay.minTemperatureC:temperatureDay.wholeDay.minTemperatureF}}°{{local.typeTemp}}/{{local.typeTemp=='C'?temperatureDay.wholeDay.maxTemperatureC:temperatureDay.wholeDay.maxTemperatureF}}°{{local.typeTemp}}</div>
                                        </div>

                                        <div class="tb-time">
                                            <div class="tb-text">{{day.time}}</div>
                                        </div>
                                        <div class="tb-weather">
                                            <img src="svg/wicons_svg_white/{{day.weatherCode}}_night.svg" style="    width: 45px;    text-align: center;    margin: auto;"  ng-if="day.time == 'Night'">
                                            <img src="svg/wicons_svg/{{day.weatherCode}}_day.svg" style="    width: 45px;    text-align: center;    margin: auto;"  ng-if="day.time == 'Day'">
                                        </div>
                                        <div class="tb-temperature">
                                            <div class="tb-text">{{local.typeTemp=='C'?day.avgTempC:day.avgTempF}}°{{local.typeTemp}}</div>
                                        </div>
                                        <div class="tb-feels-like">
                                            <div class="tb-text">{{local.typeTemp=='C'?day.feelsLikeC:day.feelsLikeF}}°{{local.typeTemp}}</div>
                                        </div>
                                        <div class="tb-precip-chance">
                                            <div class="tb-text">{{day.precipChance}}%</div>
                                        </div>
                                        <div class="tb-precip">
                                            <div class="tb-count">{{day.precip}}</div>
                                            <div class="tb-meter">mm</div>
                                        </div>
                                        <div class="tb-wind">
                                            <i class="sprite-wind-tb" style="    -ms-transform: rotate({{day.windDegree + 'deg'}});    -webkit-transform: rotate({{day.windDegree + 'deg'}});    transform: rotate({{day.windDegree + 'deg'}});"></i>
                                            <div class="tb-count">{{day.windM}} m/s</div>
                                            <div class="tb-meter">NNW</div>
                                        </div>
                                        <div class="tb-gust">
                                            <div class="tb-count">{{day.gustM}}</div>
                                            <div class="tb-meter">m/s</div>
                                        </div>
                                        <div class="tb-pressure">
                                            <div class="tb-count">{{day.pressure}}</div>
                                            <div class="tb-meter">hPa</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tb-more-info">
                        <div class="text">
                            <span>Swipe</span>
                            <span>FOR</span>
                            <span>MORE</span>
                            <span>INFO</span>
                        </div>
                    </div>
                </div>
                <div class="links-after">
                    <a href="#" class="active">Outlook</a>
                    <a href="#">Hourly weather</a>
                    <a href="#">Weather map</a>
                </div>
                <!-- .tab_container -->
            </section><!-- end weeekly-report -->
        </div><!-- end page-content -->
        <aside class="sidebar" style="padding-top: 35px">
            <!-- <div class="ad300-520 mob-hide"></div> -->
            <img src="https://placehold.it/300x600" alt="alt" class="mob-hide">
            <img src="https://placehold.it/300x250" alt="alt" class="top20px">
        </aside>
    </div><!-- end wrapper -->
</div><!-- end container -->
<section id="detailed-forecast">
    <div class="container">
        <h2>Detailed forecast</h2>
    </div>
    <div class="graff-wrap blue-bg">
        <div class="container ">
            <div id="weatherTen"></div>
            <br/>
            <div id="weatherTenIcon">
                <div class="wrp-icon"></div>
            </div>
        </div>
    </div>
</section><!-- end detailed-forecast -->


<div class="container section-margin-top">
    <div class="wrapper">
        <div class="page-content">

            <!--<section id="text-weather" class="section-margin-top">-->
                <!--<h2>Text weather</h2>-->
                <!--<h3>7 day weather outlook of Minsk</h3>-->


                <!--<div class="tabs-tr">-->

                    <!--<nav role='navigation' class="transformer-tabs w-tabs">-->
                        <!--<ul>-->
                            <!--<li><a href="#tab-1" class="active">Weekly Outlook</a></li>-->
                            <!--<li><a href="#tab-2">Mon</a></li>-->
                            <!--<li><a href="#tab-3">Tue</a></li>-->
                            <!--<li><a href="#tab-4">Wed</a></li>-->
                            <!--<li><a href="#tab-5">Thu</a></li>-->
                            <!--<li><a href="#tab-6">Fri</a></li>-->
                            <!--<li><a href="#tab-7">Sat</a></li>-->
                            <!--<li><a href="#tab-8">Sun</a></li>-->
                        <!--</ul>-->
                    <!--</nav>-->

                    <!--<div id="tab-1" class="active text-weather-tab w-tab-cont">-->
                        <!--<p>The <b>maximum temperature</b> for Brighton over the next 7 day will be 30°C(or 86°F) on-->
                            <!--Wednesday 24th August at around 5 pm. In the same week the <b>minimum temperature</b>-->
                            <!--will be 13°C (or 56°F) on Tuesday 23rd August at around 5 am. Our Brighton weather-->
                            <!--forecaster is reporting Thursday 25th August to be the wettest day in the coming week-->
                            <!--with around 2.70mm (or 0.1 inches) of rainfall. Make sure to carry an umbrella if you-->
                            <!--are out and about in Brighton.</p>-->
                    <!--</div>-->

                    <!--<div id="tab-2" class="w-tab-cont">-->
                        <!--2-->
                    <!--</div>-->

                    <!--<div id="tab-3" class="w-tab-cont">-->
                        <!--3-->
                    <!--</div>-->

                    <!--<div id="tab-4" class="w-tab-cont">-->
                        <!--4-->
                    <!--</div>-->
                    <!--<div id="tab-5" class="w-tab-cont">-->
                        <!--5-->
                    <!--</div>-->
                    <!--<div id="tab-6" class="w-tab-cont">-->
                        <!--6-->
                    <!--</div>-->
                    <!--<div id="tab-7" class="w-tab-cont">-->
                        <!--7-->
                    <!--</div>-->
                    <!--<div id="tab-8" class="w-tab-cont">-->
                        <!--8-->
                    <!--</div>-->

                <!--</div>-->
            <!--</section>&lt;!&ndash; end text-weather &ndash;&gt;-->

            <section id="glance">

                <h2>Weekly weather summary at a glance</h2>
                <div class="glance-row">
                    <div class="glance-left">Max. temperature</div>
                    <div class="glance-right">
                        <div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.maxTempC:weekly_weather_summary.maxTempF}}°{{local.typeTemp}}</div>
                        <div class="glance-date">{{weekly_weather_summary.maxTempDay}}</div>
                    </div>
                </div>
                <div class="glance-row">
                    <div class="glance-left">Min. temperature</div>
                    <div class="glance-right">
                        <div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.minTempC:weekly_weather_summary.minTempF}}°{{local.typeTemp}}</div>
                        <div class="glance-date">{{weekly_weather_summary.minTempDay}}</div>
                    </div>
                </div>
                <div class="glance-row">
                    <div class="glance-left">Average max. temperature</div>
                    <div class="glance-right">
                        <div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.avgMinTempC:weekly_weather_summary.avgMinTempF}}°{{local.typeTemp}}</div>
                        <div class="glance-date">Next 7 days</div>
                    </div>
                </div>
                <div class="glance-row">
                    <div class="glance-left">Average min. temperature</div>
                    <div class="glance-right">
                        <div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.avgMaxTempC:weekly_weather_summary.avgMaxTempF}}°{{local.typeTemp}}</div>
                        <div class="glance-date">Next 7 days</div>
                    </div>
                </div>
                <div class="glance-row">
                    <div class="glance-left">Total rainfall</div>
                    <div class="glance-right">
                        <div class="glance-temp">{{weekly_weather_summary.totalRainfall.toFixed(1);}} MM</div>
                        <div class="glance-date">Next 7 days</div>
                    </div>
                </div>
                <div class="glance-row">
                    <div class="glance-left">Windiest</div>
                    <div class="glance-right">
                        <div class="glance-temp">{{weekly_weather_summary.windiestMS}} M/S</div>
                        <div class="glance-date">{{weekly_weather_summary.windiestDay}}</div>
                    </div>
                </div>
                <p>Please also visit Minsk <a href="#">Historical weather</a> page. Historical or past weather
                    forecast page provides historical weather forecast from 1st July, 2008 till now in 3 and 1
                    hourly interval.</p>

            </section><!-- end glance -->
        </div><!-- end page-content -->
        <aside class="sidebar top35px">
            <!-- OLD -->
            <!-- <div class="ad300-600 mob-hide"></div> -->
            <!-- <div class="ad300-250 top20px"></div> -->

            <!-- NEW -->
            <img src="https://placehold.it/300x600" alt="alt" class="mob-hide">
            <!--<img src="https://placehold.it/300x250" alt="alt" class="top20px">-->
        </aside>
    </div><!-- end wrapper -->
</div><!-- end container -->


<div class="container section-margin-top">
    <div class="wrapper">
        <div class="page-content">
            <section id="astronomy">
                <h2>Astronomy</h2>
                <h3>{{astronomy.date.dayOfMonth}} {{astronomy.date.monthOfYear}} {{astronomy.date.year}}</h3>
                <div class="astronomy-row">
                    <div class="astronomy-left">
                        <div class="al-inner">
                            <div class="al-block">
                                <div class="al-img">
                                    <img src="images/svg/oplao_sunrise.svg" alt="img">
                                </div>
                                <span>{{astronomy.sunrise}}</span>
                            </div>
                            <div class="al-block">
                                <div class="al-img">
                                    <img src="images/svg/oplao_sunset.svg" alt="img">
                                </div>
                                <span>{{astronomy.sunset}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="astronomy-right">
                        <div class="ar-inner">
                            <h5>Waning</h5>
                            <img alt="img" ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8]" src="svg/oplao_moon_{{n}}.svg" ng-class="{'op_full':moon_phase_index==n, 'op':moon_phase_index!=n}">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <aside href="#" class="sidebar">
            <div>
                <a href="#" class="g-play">
                    <img src="images/bg/play-bg.png" alt="img">
                    <span>Oplao on Google Play</span>
                </a>
            </div>
        </aside>
    </div>
</div><!-- end container -->

<section id="climate-in">
    <div class="container">
        <h2>Climate in {{temperature.city}}</h2>

        <div class="climate-dropdown-wrap">
            <div class="climate-dropdown-top">December</div>
            <ul class="climate-dropdown-bot">
                <li><a href="#">January</a></li>
                <li><a href="#">February</a></li>
                <li><a href="#">March</a></li>
                <li><a href="#">April</a></li>
                <li><a href="#">May</a></li>
                <li><a href="#">June</a></li>
                <li><a href="#">July</a></li>
                <li><a href="#">August</a></li>
                <li><a href="#">Septemper</a></li>
                <li><a href="#">October</a></li>
                <li><a href="#">November</a></li>
                <li><a href="#">December</a></li>
            </ul>
        </div>
        <div class="climate-in-top">
            <div class="cit-block c-t-max">
                <span></span>
                <i></i>
                <em>T° max</em>
                <b>24°C</b>
            </div>
            <div class="cit-block c-t-min">
                <span></span>
                <i></i>
                <em>T° min</em>
                <b>24°C</b>
            </div>
            <div class="cit-block c-t-prec">
                <span></span>
                <i></i>
                <em>Precipitation</em>
                <b>94mm</b>
            </div>
        </div>
    </div>
    <div class="green-bg graff-wrap">
        <div class="container">
            <div id="weatherYear"></div>
            <br/>
        </div>
    </div>
</section><!-- end climate-in -->

<section id="coordinates">
    <div class="container">
        <h2>Coordinates</h2>
        <p><b>{{coordinates.city}}, {{coordinates.country}}.</b> {{coordinates.city}} <a href="#">on the map</a> {{coordinates.latitude}}°, {{coordinates.longitude}}°. Timezone: UTC {{coordinates.hours_between}}</p>
    </div>
</section><!-- end coordinates -->


<section class="last-year5 theme-wrapper theme-block">
    <div class="container">
        <h2 class="title-block">Last 5 year weather data</h2>
    </div>
    <div class="blue-bg-full">
        <div class="container">
            <div class="last-info-wrap">
                <div class="v-date">
                    <div class="img-wrap">
                        <img src="img/calendar.svg" alt="img" class="img">
                    </div>
                    <div class="v-today-wrap">
                        <div class="today">Today</div>
                        <div class="date">{{temperature.day}} {{temperature.month}}</div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <a href="past-weather.html" class="btn-theme">Check past weather for more info</a>
                </div>
            </div>
            <div class="v-year-wrap">
                <div class="v-year-list">
                    <div class="v-year-item" ng-repeat="year in five_years_average">
                        <div class="v-year">{{year.year}}</div>
                        <img src="svg/wicons_svg_white/{{year.weatherCode}}_day.svg" alt="img" style="    width: 48px;    margin: auto; margin-bottom: 14px;">
                        <div class="temperature">
                            <span class="count">{{local.typeTemp=='C'?year.tempC:year.tempF}}</span>
                            <span class="mark">°{{local.typeTemp}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="uv-index">
    <div class="container">
        <h2>UV Index</h2>
        <div class="uv-top">
            <div class="uv-top-block">
                <span class="greenLow"></span>
                <em>1-2 Low</em>
            </div>
            <div class="uv-top-block">
                <span class="yellowAverage"></span>
                <em>3-5 Average</em>
            </div>
            <div class="uv-top-block">
                <span class="orangeHigh"></span>
                <em>6-7 High</em>
            </div>
            <div class="uv-top-block">
                <span class="redHigh"></span>
                <em>8-10 Very-high</em>
            </div>
            <div class="uv-top-block">
                <span class="redExtreme"></span>
                <em>11+ Extreme</em>
            </div>
        </div>

        <div class="uv-bot" >
            <div class="uv-bot-block" ng-repeat="ultra in ultraviolet track by $index">
                <em>{{$index == 0 ? 'Today':ultra.date}}</em>
                <span class="{{colorsUV[$index]}}"></span>
            </div>
        </div>
    </div>
</section>
<!--<script src="../../js/charts.js"></script>-->
<!--<script src="../../js/charts_init.js"></script>-->