<div class="container section-margin-top" ng-controller="todayCtrl">
	<div class="wrapper">
		<div class="page-content">
			<section class="tomorrow tomorrow-list">
				<h2 class="section-title">Weekly weather report</h2>
				<div class="tomorrow-item">
					<div class="tmr-left-info">
						<div class="tmr-left-block">
							<div class="tmr-sunrise">
								<div class="tmr-icon">
									<img src="img/sunrise.svg" alt="img">
								</div>
								<div class="tmr-text">
									<div class="grey">Sunrise</div>
									<div class="count">{{astronomy.sunrise}}</div>
								</div>
							</div>
							<div class="tmr-sunset">
								<div class="tmr-icon">
									<img src="img/sunset.svg" alt="img"></img>
								</div>
								<div class="tmr-text">
									<div class="grey">Sunset</div>
									<div class="count">{{astronomy.sunset}}</div>
								</div>
							</div>
						</div>
						<div class="tmr-left-block">
							<div class="tmr-min">
								<div class="tmr-icon">
									<img src="img/min_temp.svg" alt="img"></img>
								</div>
								<div class="tmr-text">
									<div class="grey">min</div>
									<div class="count">{{local.typeTemp=='C'?dynamicTableData[0][1].mintempC:dynamicTableData[0][1].mintempF}}</div>
								</div>
							</div>
							<div class="tmr-max">
								<div class="tmr-icon">
									<img src="img/max_temp.svg" alt="img"></img>
								</div>
								<div class="tmr-text">
									<div class="grey">max</div>
									<div class="count">{{local.typeTemp=='C'?dynamicTableData[0][1].maxtempC:dynamicTableData[0][1].maxtempF}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tmr-main-info">
						<div class="tomorrow-date">
							{{dynamicTableData[0][1].dayOfMonth}} {{dynamicTableData[0][1].monthOfYear}}, {{dynamicTableData[0][1].year}}, {{dynamicTableData[0][1].dayOfWeek}} (TODAY)
						</div>
						<div class="tb-wrapper">
							<div class="wather-table-wrap">
								<div class="weather-tb 3days-tb no-date">
									<div class="tb-head">
										<div class="tb-time">
											<div class="tb-head-icon">
												<img src="img/time.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Time</div>
										</div>
										<div class="tb-weather">
											<div class="tb-head-icon">
												<img src="img/weather.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Weather</div>
										</div>
										<div class="tb-temperature">
											<div class="tb-head-icon">
												<img src="img/temperature.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Temperature</div>
										</div>
										<div class="tb-feels-like">
											<div class="tb-head-icon">
												<img src="img/feels_like.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Feels like</div>
										</div>
										<div class="tb-precip-chance">
											<div class="tb-head-icon">
												<img src="img/precip_chance.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Precip chance</div>
										</div>
										<div class="tb-precip">
											<div class="tb-head-icon">
												<img src="img/precip.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Precip</div>
										</div>
										<div class="tb-wind">
											<div class="tb-head-icon">
												<img src="img/wind.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Wind</div>
										</div>
										<div class="tb-gust">
											<div class="tb-head-icon">
												<img src="img/gust.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Gust</div>
										</div>
										<div class="tb-cloud">
											<div class="tb-head-icon">
												<img src="img/cloud.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Cloud</div>
										</div>
										<div class="tb-humidity">
											<div class="tb-head-icon">
												<img src="img/humidity.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Humidity</div>
										</div>
										<div class="tb-pressure">
											<div class="tb-head-icon">
												<img src="img/pressure.svg" alt="" height="25"></img>
											</div>
											<div class="tb-head-title">Pressure</div>
										</div>
									</div>
									<div class="tb-contant">
										<div class="tb-item">
											<div class="tb-row" ng-repeat="item in dynamicTableData[0][0]">
												<div class="tb-time">
													<div class="tb-text">{{item.time}}</div>
												</div>
												<div class="tb-weather">
													<img ng-src="svg/wicons_svg/{{item.weatherCode}}_night.svg" style="    width: 45px;    text-align: center;    margin: auto;"  ng-if="item.isDay== false ">
													<img ng-src="svg/wicons_svg/{{item.weatherCode}}_day.svg" style="    width: 45px;    text-align: center;    margin: auto;"  ng-if="item.isDay==true">

												</div>
												<div class="tb-temperature">
													<div class="tb-text">{{local.typeTemp=='C'?item.tempC:item.tempF}}°{{local.typeTemp}}</div>
												</div>
												<div class="tb-feels-like">
													<div class="tb-text">{{local.typeTemp=='C'?item.feelsLikeC:item.feelsLikeF}}°{{local.typeTemp}}</div>
												</div>
												<div class="tb-precip-chance">
													<div class="tb-text">{{item.precipChance}}%</div>
												</div>
												<div class="tb-precip">
													<div class="tb-count">{{local.typeTemp=='C'?item.precipMM:item.precipInch}}</div>
													<div class="tb-meter">{{local.typeTemp=='C'?'mm':'in'}}</div>
												</div>
												<div class="tb-wind">
													<i class="sprite-wind-tb" style="-ms-transform: rotate({{item.windDegree + 'deg'}});    -webkit-transform: rotate({{item.windDegree + 'deg'}});    transform: rotate({{item.windDegree + 'deg'}});"></i>
													<div class="tb-count">{{local.typeTemp=='C'?item.windMs:item.windMph}} {{local.typeTemp=='C'?'m/s':'mph'}}</div>
													<div class="tb-meter">{{item.winddir}}</div>
												</div>
												<div class="tb-gust">
													<div class="tb-count">{{local.typeTemp=='C'?item.gustMs:item.gustMph}}</div>
													<div class="tb-meter">{{local.typeTemp=='C'?'m/s':'mph'}}</div>
												</div>
												<div class="tb-cloud">
													<div class="tb-text">{{item.cloudCover}}%</div>
												</div>
												<div class="tb-humidity">
													<div class="tb-text">{{item.humidity}}%</div>
												</div>
												<div class="tb-pressure">
													<div class="tb-count">{{local.typeTemp=='C'?item.pressurehPa:item.pressureInch}}</div>
													<div class="tb-meter">{{local.typeTemp=='C'?'hPa':'in'}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tb-more-info more-col-4">
								<div class="text">
									<span>Swipe</span>
									<span>FOR</span>
									<span>MORE</span>
									<span>INFO</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="links-after">
					<a href="#" class="active">Outlook</a>
					<a href="#">Hourly weather</a>
					<a href="#">Weather map</a>
				</div>
			</section><!-- end tomorrow -->
		</div><!-- end page-content -->
		<aside class="sidebar top35px">
			<!-- OLD -->
			<!-- <div class="ad300-600 mob-hide"></div> -->
			<!-- <div class="ad300-250 top20px"></div> -->

			<!-- NEW -->
			<img src="https://placehold.it/300x600" alt="alt" class="mob-hide"></img>
			<!-- <img src="https://placehold.it/300x250" alt="alt" class="top20px"> -->
		</aside>
	</div><!-- end wrapper -->
</div><!-- end container -->


<section id="detailed-forecast">
	<div class="container">
		<h2>Detailed forecast</h2>
	</div>
	<div class="graff-wrap blue-bg">
		<div class="container ">
			<div id="weatherDetailed"></div><br/>
			<div id="weatherDetailedIcon"><div class="wrp-icon"></div></div>
		</div>
	</div>
</section><!-- end detailed-forecast -->

<div class="container section-margin-top">
	<div class="wrapper">
		<div class="page-content">
			<section id="glance">
				
				<h2>Weekly weather summary at a glance</h2>
				<div class="glance-row">
					<div class="glance-left">Max. temperature</div>
					<div class="glance-right">
						<div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.maxTempC:weekly_weather_summary.maxTempF}}°{{local.typeTemp}}</div>
						<div class="glance-date">{{weekly_weather_summary.maxTempDay}}</div>
					</div>
				</div>
				<div class="glance-row">
					<div class="glance-left">Min. temperature</div>
					<div class="glance-right">
						<div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.minTempC:weekly_weather_summary.minTempF}}°{{local.typeTemp}}</div>
						<div class="glance-date">{{weekly_weather_summary.minTempDay}}</div>
					</div>
				</div>
				<div class="glance-row">
					<div class="glance-left">Average max. temperature</div>
					<div class="glance-right">
						<div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.avgMaxTempC:weekly_weather_summary.avgMaxTempF}}°{{local.typeTemp}}</div>
						<div class="glance-date">Next 7 days</div>
					</div>
				</div>
				<div class="glance-row">
					<div class="glance-left">Average min. temperature</div>
					<div class="glance-right">
						<div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.avgMinTempC:weekly_weather_summary.avgMinTempF}}°{{local.typeTemp}}</div>
						<div class="glance-date">Next 7 days</div>
					</div>
				</div>
				<div class="glance-row">
					<div class="glance-left">Total rainfall</div>
					<div class="glance-right">

						<div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.totalRainfallMM.toFixed(1) : weekly_weather_summary.totalRainfallInch.toFixed(1);}}  {{local.typeTemp=='C'?'MM':'In'}}</div>

						<div class="glance-date">Next 7 days</div>
					</div>
				</div>
				<div class="glance-row">
					<div class="glance-left">Windiest</div>
					<div class="glance-right">
						<div class="glance-temp">{{local.typeTemp=='C'?weekly_weather_summary.windiestMS :weekly_weather_summary.windiestMiles}} {{local.typeTemp=='C'?'M/S':'Mph'}}</div>
						<div class="glance-date">{{weekly_weather_summary.windiestDay}}</div>
					</div>
				</div>

				<p>Please also visit Minsk <a href="#">Historical weather</a> page. Historical or past weather forecast page provides historical weather forecast from 1st July, 2008 till now in 3 and 1 hourly interval.</p>
				
			</section><!-- end glance -->
		</div><!-- end page-content -->
		<aside class="sidebar top35px">
			<!-- OLD -->
			<!-- <div class="ad300-600 mob-hide"></div> -->
			<!-- <div class="ad300-250 top20px"></div> -->

			<!-- NEW -->
			<img src="https://placehold.it/300x600" alt="alt" class="mob-hide"></img>
			<img src="https://placehold.it/300x250" alt="alt" class="top20px"></img>
		</aside>
	</div><!-- end wrapper -->
</div><!-- end container -->



<div class="container section-margin-top">
	<div class="wrapper">
		<div class="page-content">
			<section id="astronomy">
				<h2>Astronomy</h2>
				<h3>{{astronomy.date.dayOfMonth}} {{astronomy.date.monthOfYear}} {{astronomy.date.year}}</h3>
				<div class="astronomy-row">
					<div class="astronomy-left">
						<div class="al-inner">
							<div class="al-block">
								<div class="al-img">
									<img src="images/svg/oplao_sunrise.svg" alt="img"></img>
								</div>
								<span>{{astronomy.sunrise}}</span>
							</div>
							<div class="al-block">
								<div class="al-img">
									<img src="images/svg/oplao_sunset.svg" alt="img"></img>
								</div>
								<span>{{astronomy.sunset}}</span>
							</div>
						</div>
					</div>
					<div class="astronomy-right">
						<div class="ar-inner">
							<h5>{{astronomy.moon_phase_name}}</h5>
							<img alt="img" ng-repeat="n in [0, 1, 2, 3, 4, 5, 6, 7]" ng-src="svg/oplao_moon_{{n+1}}.svg" ng-class="{'op_full':moon_phase_index==n, 'op':moon_phase_index!=n}"></img>
						</div>
					</div>
				</div>
			</section>
		</div>
		<aside href="#" class="sidebar">
			<a href="#" class="g-play">
				<img src="images/bg/play-bg.png" alt="img"></img>
				<span>Oplao on Google Play</span>
			</a>
		</aside>
	</div>
</div><!-- end container -->